body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  border-radius: 10px;
  border: none;
}

button {
  padding: 10px 20px;
  background: #666;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.short-url {
  margin-top: 1rem;
}

.copy-btn {
  margin-left: 10px;
  cursor: pointer;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}
